body{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/dawnbreaker/wallpapers/dota_stars_wallpaper.jpg);
  color: #fff;
  font-family: sans-serif;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  morgin-top: 100px;
  font-size: 20px
}

h2{
  text-transform: uppercase;
  text-align: center;
  morgin-top: 100px;
  font-size: 20px
}

h3{
  text-transform: uppercase;
  text-align: center;
  morgin-top: 100px;
  font-size: 20px
}

p{
  font-size: 15px;
  display: block;
  morgin; 0 auto;
  width: 80%;
}

h1 {
  text-align: center;
  margin: 20px 0 20px;
  font-style: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000;
  font-family: cursive;
}

h2 {
  text-align: center;
  margin: 40px 0 40px;
  font-style: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000;
  font-family: cursive;
}

h3 {
  text-align: center;
  margin: 40px 0 40px;
  font-style: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000;
  font-family: cursive;
}

h2{
  opacity: 0.6;
  padding: 5px;
}

h3{
  opacity: 0.6;
  padding: 1px;
}

ul{
 display:table;
 margin:auto;
}
ul li{
 display:table-cell;
 width:20%;
 text-align:center;
}

a {
  color: #ecf0f1;
}

